@media screen and (max-width: 880px){

    #titulo {
        margin-top: 50px;
    }

    h1 {
        font-size: 1.7em;
    }

    #conteudo {
        height: 700px;
        width: 90%;
        flex-direction: column-reverse;
    }

    .img {
        height: 300px;
        background-position: center center;
    }

    .escrito {
        height: 420px;
        text-align: center;
    }

    .cadastro {
        margin-top: 10px;
    }
}