@media screen and (max-width: 880px){

    body {
        width: 100vw;
    }

    main {
        width: 100vw;
    }

    #titulo {
        margin-top: 10px;
    }

    h1 {
        font-size: 1.7em;
    }

    main {
        height: 950px;
    }

    #conteudo {
        height: 760px;
        width: 90%;
        flex-direction: column-reverse;
    }

    .img {
        height: 300px;
        background-position: center center;
    }

    .escrito {
        height: 460px;
        text-align: center;
    }

    .cadastro {
        margin-top: 10px;
        margin-left: 0px;
    }

    .caixa {
        margin-left: 0px;
    }
}